body{
    color: wheat;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(yellowgreen, darkgreen);
}

a{
    text-decoration: none;
    color: wheat;
}

.table{
    text-align: center;
    
}

table{
    margin: 0 auto;
}

td{
    border: 2px solid wheat;
}

img{
    width: 200px;
    height: 300px;
}

p{
   font-size: x-large; 
}

.pracivnuk{
    font-size: xx-large;
    color: rgb(255, 255, 255);
}
