body{
    color: wheat;
    text-align: center;
    font-family: sans-serif;
    background-image: linear-gradient(yellowgreen, darkgreen);
}

a{
    text-decoration: none;
    color: wheat;
}

.table{
    text-align: center;
    
}

table{
    margin: 0 auto;
}

td{
    border: 2px solid wheat;
}

img{
    width: 200px;
    height: 300px;
}

p{
   font-size: x-large; 
}

.pracivnuk{
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

.button1{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button2{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button3{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button4{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button5{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button6{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button7{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button8{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button9{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button10{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button11{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button12{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}

.button13{
    border:3px solid wheat;
    color:yellowgreen;
    background-color:wheat;
    border-radius:30px;
    padding:20px;
}
